div.text_cell_render img:not(.big) {
  float: right;
  max-width: 50vw;
  max-height: 70vh;
}

.reveal .cell {
  background-color: white;
}

#notebook.reveal {
  background-image: url("https://soph.info/metis/metis_logo_two.svg");
  background-size: cover;
  background-position: center;
}

.reveal ol, .reveal dl, .reveal ul {
  display: block;
}
